<div class="card">
  <div class="card-body">
    <h5 class="card-title">Add a new math question for the Math Game</h5>
    <div class="form-group">
      <label for="question">Question:</label>
      <input class="form-control"
             type="text"
             #[formControl]="question">
      id="question">
      <label for="answer">Answer:</label>
      <input class="form-control"
             type="number"
             #answer
             min="0"
             id="answer">
    </div>
    <input type="button"
           [hidden]="saved"
           class="btn btn-primary"
           (click)="saveQuestion(question.value, answer.value)"
           value="Save Question">

  </div>
</div>
